.recipe {
  margin: 20px 0;
  position: relative;
}

.recipe-name {
  position: absolute;
  bottom: 4px;
  left: 0;
  background: orange;
  padding: 5px 30px;
}

.recipe-image {
  background-repeat: no-repeat;
  height: 250px;
  width: 250px;
}
