*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  display: flex;
  height: 100vh;
}

.recipe-result {
  background-color: orange;
  overflow-y: auto;
}

.recipe-info {
  overflow: auto;
  padding: 30px;
}

.search-filter {
  padding: 20px;
}
